.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.settingsCard {
  margin-top: 20px;
}
.titleHeader {
  align-items: center;
  background-color: #ffffff;
  font-family: "Noto Sans Hebrew", "Noto Sans", sans-serif;
  justify-content: space-between;
  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.35);
  border-radius: 3px;
  padding: 5px 10px 5px 10px;
}
.flexColumn {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  font-family: "Noto Sans Hebrew", "Noto Sans", sans-serif;
  justify-content: space-between;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.35);
  border-radius: 3px;
  padding: 5px 30px 5px 10px;
}
.flexRowPersonalSettings {
  display: flex;
  direction: ltr;
  align-items: center;
  background-color: #ffffff;
  font-family: "Noto Sans Hebrew", "Noto Sans", sans-serif;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.35);
  border-radius: 3px;
  padding: 3px 20px 3px 10px;
}
.textFieldStreet {
  width: 90px;
  margin-left: 8px;
  margin-right: 8px;
}
.textBold {
  color: rgb(43, 43, 43);
  font-size: 18px;
}
.textReg {
  color: rgb(121, 121, 121);
  font-size: 15px;
}
.titleBold {
  color: rgb(43, 43, 43);
  font-size: 20px;
  font-weight: bold;
}
.titleReg {
  color: rgb(121, 121, 121);
  font-size: 15px;
}
.actionCardText {
  color: rgb(47, 114, 133);
}

.actionButton {
  font-size: 15px;
  color: white;
  cursor: pointer;
  border-radius: 25px;
  background-color: rgb(2, 134, 164);
  width: 100px;
  height: 25px;
  border: 0;
}
.actionButtonCancel {
  font-size: 15px;
  color: rgb(43, 43, 43);
  cursor: pointer;
  border-radius: 25px;
  background-color: transparent;
  width: 80px;
  height: 25px;
  border: 0;
}
/* ============================= */
